.container{
    margin: 80px;
}
h1{
color: rgb(77, 77, 77);
}
.input_item{
    width: 240px;
    height: 30px;
    margin: 5px;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}
.input_item:focus {
    outline: none 
  }
.message{
    color: rgb(187, 181, 181);
}